<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ContentCreation">
    <test verbose="2" preserve-order="true" name="E:/course_java/studying/4/redditTest">
        <classes>
            <class name="PostPageTest"></class>
        </classes>
    </test>
</suite>